$swe-divider: #ccc;
$swe-grey-dark: #939393;
$swe-background: #fff;
//$swe-grey: #F1F1F1;
$swe-grey: #ebebeb;

$swe-save-green: #4baf8d;
$swe-tree-highlight: #D9CF27;
$swe-abort-red: #c81717;

.swe-green {
    color: $swe-save-green;
}

.swe-highlight-bg {
    color: $swe-tree-highlight;
}

.swe-red {
    color: $swe-abort-red;
}

/**
 * Source colors
 */
$swe-source-grey: rgb(139, 141, 142);
.swe-source-grey {
    background: $swe-source-grey;
}

$swe-source-mobility-red: rgb(208, 16, 58);
.swe-source-mobility-red {
    background: $swe-source-mobility-red;
}

$swe-source-supply-green: rgb(0, 133, 102);
.swe-source-supply-green {
    background: $swe-source-supply-green;
}

$swe-source-environment-orange: rgb(227, 114, 34);
.swe-source-environment-orange {
    background: $swe-source-environment-orange;
}

$swe-source-free-time-blue: rgb(0, 152, 219);
.swe-source-free-time-blue {
    background: $swe-source-free-time-blue;
}

$swe-source-service-dark-blue: rgb(51, 53, 148);
.swe-source-service-dark-blue {
    background: $swe-source-service-dark-blue;
}

$swe-source-other-source-gray: rgb(242, 242, 242);
.swe-source-other-source-gray {
    background: $swe-source-other-source-gray;
}

