$palette-main: #363834;
$palette-shade-green-0: #474F46;
$palette-shade-green-1: #3D453E;
$palette-shade-orange-0: #4E4F46;
$palette-shade-orange-1: #45443D;

.palette-main {
    background: $palette-main;
}

.palette-shade-green-0 {
    background: $palette-shade-green-0;
}

.palette-shade-green-1 {
    background: $palette-shade-green-1;
}

.palette-shade-orange-0 {
    background: $palette-shade-orange-0;
}

.palette-shade-orange-1 {
    background: $palette-shade-orange-1;
}


$palette-success: #598A28;
.palette-success-bg {
    background: $palette-success;
}

.palette-success {
    color: $palette-success;
}

$palette-disabled: #5d615a;
.palette-disabled-bg {
    background: $palette-disabled;
}

.palette-disabled {
    color: $palette-disabled;
}

$palette-error: #BA8A94;
.palette-error-bg {
    background-color: $palette-error;
}

.palette-error {
    color: $palette-disabled;
}


$palette-warn: #FFF24F;
.palette-warn-bg {
    background-color: $palette-warn;
}

.palette-warn {
    color: $palette-disabled;
}


