$palette-main: #363834;
$palette-shade-green-0: #474F46;
$palette-shade-green-1: #3D453E;
$palette-shade-orange-0: #4E4F46;
$palette-shade-orange-1: #45443D;

.palette-main {
    background: $palette-main;
}

.palette-shade-green-0 {
    background: $palette-shade-green-0;
}

.palette-shade-green-1 {
    background: $palette-shade-green-1;
}

.palette-shade-orange-0 {
    background: $palette-shade-orange-0;
}

.palette-shade-orange-1 {
    background: $palette-shade-orange-1;
}

