@import "../../styles/colors";

.container {
    border: 1px solid #1f1f1f;

    .indicator {
        transition: padding-left 100ms;
        transition-timing-function: linear;
        height: 24px;

        &.normal {
            background: $palette-success
        }

        &.medium {
            background: $palette-warn;
        }

        &.danger {
            background: $palette-error;
        }
    }

}

