<div fxLayout="column" class="fill-h">
    <div class="display-value" fxFlex="5" fxLayout="row" fxLayoutAlign="center center">
        {{parseValue(this.value)}}
    </div>
    <div fxFlex="90" class="fill-h p-h-m">
        <div class="slider-container">
            <div slider [value]="value" [update-rate]="update_rate" (change)="onMovableChange($event)" class="slider"></div>
            <span class="scale-v"></span>
            <span class="scale-h top"></span>
            <span class="scale-h center"></span>
            <span class="scale-h bottom"></span>
            <!--    <ng-container *ngFor="let item of scale_points">-->
            <!--        <span class='scale-h' [ngStyle]="calcScaleItemPosition(item)"></span>-->
            <!--    </ng-container>-->
        </div>
    </div>
    <div class="display-value" fxFlex="5" fxLayout="row" fxLayoutAlign="center center">
        {{label}}
    </div>
</div>
