<div [@openClose]="is_active ? 'open' : 'closed'"
     class="container palette-main" fxLayout="column" fxLayoutAlign="start center">

    <div fxFlex="10" class="fill-w p-a-m" fxLayout="row" fxLayoutAlign="center center">
        <div fxFlex class="m-r-m">
            <i class="material-icons"
               [ngClass]="connected ? 'palette-success' : 'palette-disabled' ">power_settings_new</i>
        </div>
        <div fxFlex="grow">
            <app-volume-level
                [level]="current_levels.master.pct">
            </app-volume-level>
        </div>
    </div>

    <div fxFlex="grow" fxLayout="row" fxLayoutAlign="start start"
         class="fill-w">

        <div fxFlex="33.3" fxLayout="column"
             class="fill-h palette-shade-green-1">

            <div fxFlex="50" fxLayout="row" fxLayoutAlign="center center"
                 class="button palette-shade-orange-1" routerLink="/equalizer">
                <i class="material-icons">equalizer</i>
            </div>
            <div fxFlex="25" fxLayout="row" fxLayoutAlign="center center"
                 class="button palette-shade-orange-1" (click)="mute()">
                <i class="material-icons">{{muted ? 'volume_mute' : 'volume_off'}}</i>
            </div>
        </div>

        <div fxFlex="33.3" class="fill-h palette-shade-green-1 p-v-l p-h-x">
            <app-slider [value]="current_levels.master.pct"
                        label="Speaker"
                        (slider-change)="setVolume($event.value)"
                        [update-rate]="3">
            </app-slider>
        </div>

        <div fxFlex="33.3" fxLayout="column" fxLayoutAlign="" class="fill-h">
            <div fxFlex="50" fxLayout="row" fxLayoutAlign="center center"
                 class="button palette-shade-orange-0"
                 (click)="raiseVolume()">
                <i class="material-icons">volume_up</i>
            </div>

            <div fxFlex="50" fxLayout="row" fxLayoutAlign="center center"
                 class="button palette-shade-orange-0"
                 (click)="lowerVolume()">
                <i class="material-icons">volume_down</i>
            </div>
        </div>

    </div>
</div>

