@import "../../styles/colors";

.container {
    position: absolute;
    z-index: 100000;
    background: $palette-shade-green-0;
    //min-width: 100px;
}

.option-list {
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
        &:hover {
            background: $palette-shade-green-1;
        }
    }
}
