<button class="button palette-main text" (click)="toggleVisible()"
        [ngClass]="{'palette-main': !visible, 'palette-shade-green-0': visible}"
        fxLayout="row" fxLayoutAlign="center center">
    <span [ngClass]="{ 'p-r-s': title !== ''}">
        <i class="material-icons">{{icon}}</i>
    </span>
</button>

<div #dropdown class="container" [fxShow]="visible">
    <ul class="option-list">
        <li *ngFor="let item of options"
            (click)="elementSelected(item)"
            class="p-v-l p-h-m">
            {{item.title}}
        </li>
    </ul>
</div>
