/* You can add global styles to this file, and also import other style files */
@import "styles/colors";
@import "styles/icons";
@import "styles/spacer";
@import "styles/typography";
@import "styles/variables";

html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    padding: 0;
    margin: 0;
    overscroll-behavior: contain;

    overflow: hidden;

    font-family: 'Josefin Sans', sans-serif;
    color: #d5d5d5;
}

.full-w {
    width: 100%;
}

.half-w {
    width: 50%;
}

.full-h {
    height: 100%;
}

.half-h {
    height: 50%;
}

.card {
    border-radius: 4px;
    background: #ffffff;
}


/**
 * Custom Elements
 */
.button {
    font-size: 1em;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;

    border: 0;
    outline: none;

    height: 44px;

    &:focus {
        outline: none;
    }

    &:hover {
        -webkit-transition: 0.1s;
        -moz-transition: 0.1s;
        -ms-transition: 0.1s;
        -o-transition: 0.1s;
        transition: 0.1s;
    }

    &:active {
        box-shadow: none;

        -webkit-transition: 0.1s;
        -moz-transition: 0.1s;
        -ms-transition: 0.1s;
        -o-transition: 0.1s;
        transition: 0.1s;

        background: #ffd3c5;
    }

    cursor: pointer;
}

.input {
    box-sizing: border-box;
    width: 100%;

    margin-bottom: $margin-m;

    div {
        font-size: 14px;
    }

    input {
        box-sizing: border-box;
        width: 100%;

        padding-top: $padding-m;
        padding-bottom: $padding-m;
        padding-left: $padding-s;
        padding-right: $padding-s;

        font-size: 1.15em;
        font-family: BrauerNeue-Regular, "Helvetica Neue", sans-serif;
    }
}

.box-shadow {
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
    border: 0;
}


.debug-frame {
    border: 1px solid red;
}




