<div class="container" fxLayout="column" fxLayoutAlign="start center">
    <div fxFlex="30" class="fill-w fill-h palette-shade-green-0">
        <app-equalizer-diagram
            [equalizer]="equalizers_diag">
        </app-equalizer-diagram>
    </div>
    <div fxFlex="70" fxLayout="row" class="equalizer-container palette-shade-green-1">
        <div *ngFor="let eq of equalizers" class="fill-h m-h-m">
            <div fxFlex="100px" class="p-v-l">
                <app-slider
                    [label]="eq.channel.name"
                    [id]="eq.channel.position"
                    [value]="eq.levels.master.pct"
                    (slider-change)="onSliderChange($event)"
                    [update-rate]="3">
                </app-slider>
            </div>
        </div>

    </div>
</div>
